@model IEnumerable<whatsopen.webapi.Models.Store>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Address2
        </th>
        <th>
            City
        </th>
        <th>
            County
        </th>
        <th>
            Country
        </th>
        <th>
            Phone
        </th>
        <th>
            PostCode
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longitude
        </th>
        <th>
            MondayOpenTime
        </th>
        <th>
            MondayCloseTime
        </th>
        <th>
            TuesdayOpenTime
        </th>
        <th>
            TuesdayCloseTime
        </th>
        <th>
            WednesdayOpenTime
        </th>
        <th>
            WednesdayCloseTime
        </th>
        <th>
            ThursdayOpenTime
        </th>
        <th>
            ThursdayCloseTime
        </th>
        <th>
            FridayOpenTime
        </th>
        <th>
            FridayCloseTime
        </th>
        <th>
            SaturdayOpenTime
        </th>
        <th>
            SaturdayCloseTime
        </th>
        <th>
            SundayOpenTime
        </th>
        <th>
            SundayCloseTime
        </th>
        <th>
            Notes
        </th>
        <th>
            Distance
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Address
        </td>
        <td>
			@item.Address2
        </td>
        <td>
			@item.City
        </td>
        <td>
			@item.County
        </td>
        <td>
			@item.Country
        </td>
        <td>
			@item.Phone
        </td>
        <td>
			@item.PostCode
        </td>
        <td>
			@item.Latitude
        </td>
        <td>
			@item.Longitude
        </td>
        <td>
			@String.Format("{0:g}", item.MondayOpenTime)
        </td>
        <td>
			@String.Format("{0:g}", item.MondayCloseTime)
        </td>
        <td>
			@String.Format("{0:g}", item.TuesdayOpenTime)
        </td>
        <td>
			@String.Format("{0:g}", item.TuesdayCloseTime)
        </td>
        <td>
			@String.Format("{0:g}", item.WednesdayOpenTime)
        </td>
        <td>
			@String.Format("{0:g}", item.WednesdayCloseTime)
        </td>
        <td>
			@String.Format("{0:g}", item.ThursdayOpenTime)
        </td>
        <td>
			@String.Format("{0:g}", item.ThursdayCloseTime)
        </td>
        <td>
			@String.Format("{0:g}", item.FridayOpenTime)
        </td>
        <td>
			@String.Format("{0:g}", item.FridayCloseTime)
        </td>
        <td>
			@String.Format("{0:g}", item.SaturdayOpenTime)
        </td>
        <td>
			@String.Format("{0:g}", item.SaturdayCloseTime)
        </td>
        <td>
			@String.Format("{0:g}", item.SundayOpenTime)
        </td>
        <td>
			@String.Format("{0:g}", item.SundayCloseTime)
        </td>
        <td>
			@item.Notes
        </td>
        <td>
			@String.Format("{0:F}", item.Distance)
        </td>
    </tr>
}

</table>


